# Importing Data Modules

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

# Creating Sample Data

In [4]:
data = {
    "date": [
        "2018-01-01",
        "2018-02-01",
        "2018-03-01",
        "2018-04-01",
        "2018-05-01",
        "2018-06-01",
        "2018-01-01",
        "2018-02-01",
        "2018-03-01",
        "2018-04-01",
        "2018-05-01",
        "2018-06-01",
    ],
    "visitors": [35, 30, 82, 26, 83, 46, 40, 57, 95, 57, 87, 42],
}

# Converting sample data into a Data Frame

In [5]:
# converting sample data in data frame to be readable
df = pd.DataFrame(data, columns=['date', 'visitors'])

# Viewing Data

In [6]:
# viewing data 
df.head()

         date  visitors
0  2018-01-01        35
1  2018-02-01        30
2  2018-03-01        82
3  2018-04-01        26
4  2018-05-01        83

# Viewing Data Types

In [ ]:
# viewing data types of each column
df.dtypes

date        object
visitors     int64
dtype: object