# Importing Data Modules

In [40]:
import pandas as pd
import numpy as np
from datetime import datetime

# Creating Sample Data

In [41]:
data = {
    "date": [
        "2018-01-01",
        "2018-02-01",
        "2018-03-01",
        "2018-04-01",
        "2018-05-01",
        "2018-06-01",
        "2018-01-01",
        "2018-02-01",
        "2018-03-01",
        "2018-04-01",
        "2018-05-01",
        "2018-06-01",
    ],
    "visitors": [35, 30, 82, 26, 83, 46, 40, 57, 95, 57, 87, 42],
}

# Converting sample data into a Data Frame

In [42]:
# converting sample data in data frame to be readable
df = pd.DataFrame(data, columns=['date', 'visitors'])

# Viewing Data

In [43]:
# viewing data 
df.head()

         date  visitors
0  2018-01-01        35
1  2018-02-01        30
2  2018-03-01        82
3  2018-04-01        26
4  2018-05-01        83

# Viewing Data Types

In [44]:
# viewing data types of each column
df.dtypes

date        object
visitors     int64
dtype: object

# Converting Date Object in DateTime

In [45]:
# using datetime it would be more preferable to use than date time
df['date'] = pd.to_datetime(df['date'])

In [46]:
# setting the index to be given by date column and the index by date time
df.set_index('date', inplace=True)
df.sort_index(inplace=True)

In [47]:
# viewing sorted data
df.head()

            visitors
date
2018-01-01        35
2018-01-01        40
2018-02-01        30
2018-02-01        57
2018-03-01        82